

<form id="uiform" method="post">
    <table class="grid">
        <tr>
            <td>
                业务类型：
            </td>
            <td>
                <input type="text" id="" name="" data-bind="value:CATEGORY_NUMBER" class="txt03 easyui-textbox" data-options="required:true,missingMessage:'请输入业务类型'" style="width: 150px;" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                销区名称：
            </td>
            <td>
                <select name="TYPE" data-bind="value:TYPE" id="txtTYPE" class="easyui-combobox" style="width:148px;">
                    <option value="">111</option>
                    <option value="">222</option>
                </select>
                &nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td>
                品牌名称：
            </td>
            <td>
                <select name="TYPE" data-bind="value:TYPE" id="txtTYPE" class="easyui-combobox" style="width:148px;">
                    <option value="">111</option>
                    <option value="">222</option>
                </select>
                &nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                审核组名称：
            </td>
            <td>
                <select name="TYPE" data-bind="value:TYPE" id="txtTYPE" class="easyui-combobox" style="width:148px;">
                    <option value="">111</option>
                    <option value="">222</option>
                </select>
                &nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td>
                排序：
            </td>
            <td colspan="3">
                <select name="TYPE" data-bind="value:TYPE" id="txtTYPE" class="easyui-combobox" style="width:148px;">
                    <option value="">111</option>
                    <option value="">222</option>
                </select>
                &nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td>
                备注：
            </td>
            <td colspan="3">
                <input id="FREMARK" name="FREMARK" type="text" class="easyui-textbox" data-options="multiline:true" style="height:40px;width:420px;" />
            </td>
        </tr>
    </table>
</form>


