<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAPIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.125.3:8090/APIService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAPIService" contract="webapi.IAPIService"
                name="BasicHttpBinding_IAPIService" />
        </client>
    </system.serviceModel>
</configuration>