@{
    ViewBag.Title = "";
}

<form id="uiform">
    <table class="grid">
        <tr>
            <td>
                组织编号：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />&nbsp;&nbsp;<font color="red">*</font>
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
            <td>
                组织名称：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />&nbsp;&nbsp;<font color="red">*</font>
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                上级组织：
            </td>
            <td>
                <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:300px;">
                    <option value=""></option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </td>
            <td>
                组织类型：
            </td>
            <td>
                <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:300px;">
                    <option value=""></option>
                    <option value="1">数据字典</option>
                    <option value="2">数据字典</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                负责人：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />
            </td>
            <td>
                状态：
            </td>
            <td>
                <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:300px;">
                    <option value=""></option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                默认发货地点：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />
            </td>
            <td>
                仓库代码：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                仓库名称：
            </td>
            <td colspan="3">
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
    </table>

</form>

