<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--<add name="DbConnection" connectionString="Data Source=HN;User ID=HN;Password=112233;PORT=1521;Unicode=True" providerName="System.Data.OracleClient" />-->
    <add name="DbConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.125.5)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=purchaseDB)));User ID=purchase;Password=purchase;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
