@{
    ViewBag.Title = "Dialog";
}


<div class="easyui-layout" style="overflow: hidden;" border="false" fit="true">
    <div region="west" iconcls="icon-chart_organisation" split="true" style="width: 220px;
        padding: 5px" collapsible="false">
        <ul id="deptree"></ul>
    </div>
    <div region="center" iconcls="icon-users" style="padding: 2px; overflow: hidden">
        <table id="userGrid"></table>
    </div>
</div>
