@{
    ViewBag.Title = "Index";
}
@*<body class="easyui-layout">
        <div region="center" border="false" split="true">
            <div id="toolbar">
                @Html.Raw(ViewBag.ToolBar)
            </div>
            <table id="gridView" toolbar="#toolbar"></table>
        </div>
    </body>*@


<body class="easyui-layout" onload="initData()">
    
    <div region="north" border="false" split="true" style="height:110px" class="datagrid-toolbar">
        <div style="height:35px">
            @Html.Raw(ViewBag.ToolBar)
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;
            同步类型:
            <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:100px;">
                <option value="0">商品材料</option>
                <option value="1">商品材料2</option>
                <option value="2">厂家材料</option>
            </select>
            同步时间:
            <input class="easyui-datebox" style="width: 100px" id="txtDateFrom"> 至 <input class="easyui-datebox" style="width: 100px" id="txtDateTo">
            厂家/品牌:
            <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:100px;">
                <option value="0">品牌1</option>
                <option value="1">品牌2</option>
                <option value="2">333</option>
                <option value="3">444</option>
            </select>
            <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="a_search2">查询</a>
            <br /><br />
            &nbsp;&nbsp;&nbsp;
            处理标志:
            <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:100px;">
                <option value="0">未处理</option>
                <option value="1">已处理</option>
            </select>
            成功标志:
             <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:100px;">
                <option value="0">成功</option>
                <option value="1">失败</option>
            </select>
        </div>
    </div>
    <div region="center" border="false" split="true">

        <!-- datagrid 列表 -->
        <table id="gridView" toolbar="#toolbar"></table>
    </div>
</body>

<script type="text/javascript" src="/Scripts/Business/Search.js?v=3"></script>
<script type="text/javascript">

    $(function () {

        $('#a_add').click(crud.add);
        $('#a_edit').click(crud.update);
        $('#a_auditsubmit').click(crud.auditsubmit);
        $('#a_audit').click(crud.audit);
        $('#a_modify').click(crud.modify);
        $('#a_finish').click(crud.finish);
        $('#a_closecontract').click(crud.closecontract);
        $('#a_contractview').click(crud.contractview);
        $('#a_editRecord').click(crud.editRecord);
        $('#a_delete').click(crud.del);

        conentry.bind();
        //careplan.bind();
        payplan.bind();
        collection.bind();
        invoice.bind();

        $('#a_search').click(function () {
            search.go('gridView');
        });

        $('#a_search2').click(onSearch);
        $('#a_reset').click(onReset);

        grid.databind();

        $(window).resize(function () { //浏览器窗口变化
            cover();
        });
    });

    function cover() {
        var win_width = $(window).width();
        var win_height = $(window).height();
        //$("#bigpic").attr({ width: win_width, height: win_height });
    }

    function onSearch() {
        var number = $('#txtNUMBER').val();
        var custname = $('#txtCUST_NAME').val();
        var status = $('#txtSTATUS').combobox("getValue");
        var datefrom = $('#txtDateFrom').datebox('getValue');
        var dateto = $('#txtDateTo').datebox('getValue');

        var ruleArr = [];
        if (number != "")
            ruleArr.push({ "field": "FContractNo", "op": "cn", "data": number });
        if (custname != "")
            ruleArr.push({ "field": "CustName", "op": "cn", "data": custname });
        if (status != "") {
            ruleArr.push({ "field": "FStatus", "op": "eq", "data": status });
        }
        if (datefrom != '' && dateto == '') {
            ruleArr.push({ "field": "Date", "op": "cn", "data": datefrom });
        }
        else if (dateto != '' && datefrom == '') {
            ruleArr.push({ "field": "Date", "op": "cn", "data": dateto });
        }
        else if (dateto != '' && datefrom != '') {
            ruleArr.push({ "field": "Date", "op": "ge", "data": datefrom });
            ruleArr.push({ "field": "Date", "op": "le", "data": dateto });
        }


        if (ruleArr != null && ruleArr.length > 0) {
            filterObj = { groupOp: 'AND', rules: ruleArr };
            $('#gridView').datagrid('load', { filter: JSON.stringify(filterObj) });
        } else {
            $('#gridView').datagrid('load', { filter: {} });
        }
    }

    function onReset() {
        $('#txtNUMBER').textbox("setValue", "");
        $('#txtCUST_NAME').textbox("setValue", "");
        $('#txtSTATUS').textbox("setValue", "");
        $('#txtDateFrom').datebox("setValue", "");
        $('#txtDateTo').datebox("setValue", "");

        $('#gridView').datagrid('load', { filter: {} });
    }

    function initData() {
        $('#userTab').tabs({
            onLoad: function () {
                $('.validatebox-tip').remove();
            }
        });
    }

    //=====================================
    //根据Form上的控件绑定的data-bind属性
    //自动将控件的值转成json格式
    //=====================================
    function createParam(id) {
        var o = {};
        var form = top.$('#uiform');
        var query = '';
        if (form) {
            query = top.$('#uiform').serializeArray();
            query = convertArray(query);
            o.jsonEntity = JSON.stringify(query);

            var data = top.$('#dgConEntry').datagrid('getData');
            if (data != null && data != "" && data.rows != null && data.rows.length > 0) {
                o.data1 = JSON.stringify(data);
            }
            var data2 = top.$('#dgConPayment').datagrid('getData');
            if (data2 != null && data2 != "" && data2.rows != null && data2.rows.length > 0) {
                o.data2 = JSON.stringify(data2);
            }
            var data3 = top.$('#dgConCollection').datagrid('getData');
            if (data3 != null && data3 != "" && data3.rows != null && data3.rows.length > 0) {
                o.data3 = JSON.stringify(data3);
            }
            var data4 = top.$('#dgConInvoice').datagrid('getData');
            if (data4 != null && data4 != "" && data4.rows != null && data4.rows.length > 0) {
                o.data4 = JSON.stringify(data4);
            }
        }
        o.FID = id;
        return "json=" + JSON.stringify(o);
    }

    //=====================================
    //列表界面上的Grid控件对象
    //=====================================
    var grid = {
        databind: function (size) {
            $('#gridView').datagrid({
                url: '/PleasePurchasePlan/List',
                fit: true,
                idField: 'FID',
                singleSelect: true,
                striped: true,
                rownumbers: true, //行号
                columns: [[
                    { title: '处理标志', field: 'FSerialNum', width: 100, sortable: true },
                    { title: '厂家/品牌', field: 'FContractNo', width: 200, sortable: true },
                    { title: '日期', field: 'ItemName', width: 150, sortable: true },
                    { title: '同步类型', field: 'Date', width: 150, sortable: true },
                    { title: '源数据', field: 'FCustSigner', width: 150, sortable: true },
                    { title: '成功标志', field: 'BrName', width: 150, sortable: true },
                    { title: '目标数据', field: 'FNote', width: 150, sortable: true },
                    { title: '失败描述', field: 'BrName', width: 150, sortable: true },
                ]],
                pagination: true,
                pageSize: PAGESIZE,
                onClickRow: function (rowIndex, rowData) {
                    conentry.reload(rowData.FID);
                    //careplan.reload(rowData.FID);
                    payplan.reload(rowData.FID);
                    collection.reload(rowData.FID);
                    invoice.reload(rowData.FID);
                },
                onDblClickRow: function (rowIndex, rowData) {
                    if (rowData.FStatus != 1 && rowData.FStatus != 4) {
                        crud.contractview();
                    }
                    else {
                        crud.update();
                    }
                }
            });
        },
        reload: function () {
            $('#gridView').datagrid('clearSelections').datagrid('reload');
        },
        selectRow: function () {
            return $('#gridView').datagrid('getSelected');
        }
    };

    //=====================================
    //计划明细列表界面上的Grid控件对象
    //=====================================
    var conentry = {
        bind: function (winSize) {
            $('#conentry').datagrid({
                url: "",

                iconCls: 'icon icon-list',
                fit: true,
                nowrap: false, //折行
                rownumbers: true, //行号
                striped: true, //隔行变色
                idField: 'KeyId', //主键
                singleSelect: true, //单选
                frozenColumns: [[]],
                columns: [[
                    { title: '产品系列', field: 'FContractNo', width: 120 },
                    { title: '厂家代码', field: 'Date', width: 100 },
                    { title: '厂家名称', field: 'MachineName', width: 150 },
                    { title: '商品代码', field: 'FAmount', width: 120 },
                    { title: '商品名称', field: 'BegDate', width: 150 },
                    { title: '产品型号', field: 'EndDate', width: 150 },
                    { title: '规格', field: 'PaymentAmount', width: 120 },
                    { title: '单位', field: 'SN', width: 100 },
                    { title: '单价', field: 'Floors', width: 100 },
                    { title: '色号', field: 'DWC', width: 100 },
                    { title: '参考数量', field: 'Speed', width: 100 },
                    { title: '申请数量', field: 'Speed', width: 100 },
                    { title: '申请金额', field: 'Speed', width: 150 },
                    { title: '审核数量', field: 'Speed', width: 100 },
                    { title: '审批数量', field: 'Speed', width: 100 },
                    { title: '审批金额', field: 'Speed', width: 150 },
                    { title: '交货日期', field: 'Speed', width: 100 },
                    { title: '特价政策', field: 'Speed', width: 100 },
                    { title: '备注', field: 'FNote', width: 300 },
                ]]
            });
        },
        getSelectedRow: function () {
            return $('#conentry').datagrid('getSelected');
        },
        reload: function (fid) {
            $('#conentry').datagrid('load', { conid: fid });
        }
    };


    //=====================================
    //参考数据列表界面上的Grid控件对象
    //=====================================
    var payplan = {
        bind: function (winSize) {
            $('#payplan').datagrid({
                url: "",

                iconCls: 'icon icon-list',
                fit: true,
                nowrap: false, //折行
                rownumbers: true, //行号
                striped: true, //隔行变色
                idField: 'KeyId', //主键
                singleSelect: true, //单选
                frozenColumns: [[]],
                columns: [[
                    { title: '产品系列', field: 'FContractNo', width: 120 },
                    { title: '商品代码', field: 'FAmount', width: 120 },
                    { title: '商品名称', field: 'BegDate', width: 150 },
                    { title: '产品型号', field: 'EndDate', width: 150 },
                    { title: '规格', field: 'PaymentAmount', width: 120 },
                    { title: '单位', field: 'SN', width: 100 },
                    { title: '未结订单/新增订单', field: 'Floors', width: 200 },
                    { title: '销售预测/促销计划', field: 'DWC', width: 200 },
                    { title: '安全库存', field: 'Speed', width: 100 },
                    { title: '现有库存', field: 'Speed', width: 100 },
                    { title: '在途数量', field: 'Speed', width: 100 },
                    { title: '月均销量', field: 'Speed', width: 100 },
                    { title: '运输周期', field: 'Speed', width: 100 },
                    { title: '系数', field: 'Speed', width: 150 },
                    { title: '参考数量', field: 'Speed', width: 100 },
                ]]
            });
        },
        getSelectedRow: function () {
            return $('#payplan').datagrid('getSelected');
        },
        reload: function (fid) {
            $('#payplan').datagrid('load', { conid: fid });
        }
    };

    //=====================================
    //特价政策列表界面上的Grid控件对象
    //=====================================
    var collection = {
        bind: function (winSize) {
            $('#collection').datagrid({
                url: "",

                iconCls: 'icon icon-list',
                fit: true,
                nowrap: false, //折行
                rownumbers: true, //行号
                striped: true, //隔行变色
                idField: 'KeyId', //主键
                singleSelect: true, //单选
                frozenColumns: [[]],
                columns: [[
                    { title: '价格政策编号', field: 'FAmount', width: 100 },
                    { title: '价格政策名称', field: 'Date', width: 150 },
                    { title: '产品系列', field: 'FContractNo', width: 150 },
                    { title: '商品代码', field: 'FAmount', width: 120 },
                    { title: '商品名称', field: 'BegDate', width: 150 },
                    { title: '规格', field: 'PaymentAmount', width: 120 },
                    { title: '单位', field: 'SN', width: 100 },
                    { title: '起始数量', field: 'SN', width: 100 },
                    { title: '截止数量', field: 'SN', width: 100 },
                    { title: '起始时间', field: 'SN', width: 120 },
                    { title: '截止时间', field: 'SN', width: 120 },
                    { title: '采购单价', field: 'SN', width: 150 },
                    { title: '备注', field: 'SN', width: 300 },

                ]]
            });
        },
        getSelectedRow: function () {
            return $('#collection').datagrid('getSelected');
        },
        reload: function (fid) {
            $('#collection').datagrid('load', { conid: fid });
        }
    };

    //=====================================
    //发票记录列表界面上的Grid控件对象
    //=====================================
    var invoice = {
        bind: function (winSize) {
            $('#invoice').datagrid({
                url: "/CareContract/ConInvoice",

                iconCls: 'icon icon-list',
                fit: true,
                nowrap: false, //折行
                rownumbers: true, //行号
                striped: true, //隔行变色
                idField: 'KeyId', //主键
                singleSelect: true, //单选
                frozenColumns: [[]],
                columns: [[
                    { title: '开票金额', field: 'FAmount', width: 100 },
                    { title: '开票日期', field: 'Date', width: 120 },
                    //{
                    //    title: '开票日期',
                    //    field: 'FDate',
                    //    width: 120,
                    //    sortable: true,
                    //    formatter: function formatterdate(val, row) {
                    //        if (val != null) {
                    //            val = val.replace('-', '/');
                    //            var date = new Date(val);
                    //            var y = date.getFullYear();
                    //            var m = date.getMonth() + 1;
                    //            var d = date.getDate();
                    //            return y + "-" + (m < 10 ? ("0" + m) : m) + "-" + (d < 10 ? ("0" + d) : d);
                    //        }
                    //    }
                    //},
                    { title: '发票号码', field: 'FBillNo', width: 200 },
                    { title: '经手人', field: 'BillerName', width: 100 },
                    {
                        title: '附件',
                        field: 'AttachmentShow',
                        width: 100,
                        align: 'center',
                        formatter: function (v) {
                            if (v != null && v != "")
                                return '<a href="' + v + '" class="easyui-linkbutton" target="_blank" style="color:#0000FF">查看</a>';
                                //return '<a href="#" class="easyui-linkbutton" onclick="/CareContract/List?path' + v + '" style="color:#0000FF">下载</a>';
                            else
                                return "";
                        }
                    },
                    { title: '备注', field: 'FNote', width: 300 },
                ]]
            });
        },
        getSelectedRow: function () {
            return $('#invoice').datagrid('getSelected');
        },
        reload: function (fid) {
            $('#invoice').datagrid('load', { conid: fid });
        }
    };

    function checkAmountEntry() {
        var table = top.$('#uiform').find('#dgConEntry').datagrid('getData');
        var Amount = 0.0;
        if (table != null && table.rows != null && table.rows.length > 0) {
            for (var i = 0; i < table.rows.length; i++) {
                var status = table.rows[i]["FStatus"];
                if (status != null && status != null && (status == 1 || status == "1")) {
                    Amount += parseFloat(table.rows[i]["FAmount"]);
                }
            }
        }

        var AmountAll = top.$('#uiform').find('#txtFAmount').numberbox('getValue');
        if (Amount != AmountAll) {
            return false;
        }
        else {
            return true;
        }
    }

    function checkAmountPayment() {
        var table = top.$('#uiform').find('#dgConPayment').datagrid('getData');
        var Amount = 0.0;
        if (table.rows.length > 0) {
            for (var i = 0; i < table.rows.length; i++) {
                Amount += parseFloat(table.rows[i]["FPlanAmount"]);
            }
        }

        var AmountAll = top.$('#uiform').find('#txtFAmount').numberbox('getValue');
        if (Amount != AmountAll) {
            return false;
        }
        else {
            return true;
        }
    }

    var crud = {
        initData: function (depid) {

            top.$('#userTab').tabs({
                onSelect: function () {
                    top.$('.validatebox-tip').remove();
                }
            });

            bindDictionary(top.$('#txtFContractType'), DIC_CONST_017);
            bindDictionary(top.$('#txtFPayMethod'), DIC_CONST_018);
            top.$('#txtFSerialNum').textbox('disable', false);

            //项目
            bindProjectsDialog(top.$('#txtItemName'), function (row) {
                top.$('#txtItemName').searchbox("setValue", row.FName);
                top.$('#txtFItemID').textbox("setValue", row.FID);
            });
            top.$('#txtCustName').textbox('disable', true);

            //客户
            //bindCustomerDialog(top.$('#txtCustName'), function (row) {
            //    top.$('#txtCustName').searchbox("setValue", row.FName);
            //    top.$('#txtFCustID').textbox("setValue", row.FID);
            //});

            bindOrganizeDialog(top.$('#txtBrName'), '签约公司选择', "1,5", null, function (row) {
                top.$('#txtBrName').searchbox("setValue", row.FName);
                top.$('#txtFBrID').textbox("setValue", row.FID);
            });

            bindEmployeeDialogByCompany(top.$('#txtEmpName'), top.$('#txtFBrID'), function (row) {
                top.$('#txtEmpName').searchbox("setValue", row.FName);
                top.$('#txtFEmpID').textbox("setValue", row.FID);
            });

            //bindEmployeeDialog(top.$('#txtEmpName'), null, function (row) {
            //    top.$('#txtEmpName').searchbox("setValue", row.FName);
            //    top.$('#txtFEmpID').textbox("setValue", row.FID);
            //});
        },






        //删除
        del: function () {
            var row = grid.selectRow();
            if (row) {
                if (row.FStatus == 1 || row.FStatus == 2 || row.FStatus == 4 || row.FStatus == 6) {
                    var o = {};
                    o.FID = row.FID;
                    var query = "json=" + JSON.stringify(o);

                    top.$.messager.confirm('删除', '确认要删除选中的保养合同信息，以及删除对应的其他关联信息吗?', function (r) {
                        if (r) {
                            $.ajaxjson('/CareContract/Delete', query, function (d) {
                                if (d.errCode == 0) {
                                    parent.layer.msg('删除成功');
                                    grid.reload();
                                } else {
                                    parent.layer.alert(d.errMsg);
                                }
                            });
                        }
                    });
                }
                else {
                    parent.layer.msg('当前的状态无法进行删除。');
                }
            } else {
                parent.layer.msg('请选择要删除的保养合同信息。');
            }
        }
    };

    function downloadFile(url) {

        var form = $("<form>");//定义一个form表单
        form.attr("style", "display:none");
        form.attr("target", "");
        form.attr("method", "post");
        form.attr("action", "/DownloadFiles/Dowmload");
        var input1 = $("<input>");
        input1.attr("type", "hidden");
        input1.attr("name", "strUrl");
        input1.attr("value", url);
        $("body").append(form);//将表单放置在web中
        form.append(input1);

        form.submit();//表单提交

        //if (typeof (download_file.iframe) == "undefined") {
        //    var iframe = document.createElement("iframe");
        //    download_file.iframe = iframe;
        //    document.body.appendChild(download_file.iframe);
        //}
        ////alert(download_file.iframe);
        //download_file.iframe.src = url;
        //download_file.iframe.style.display = "none";
    }
</script>
