@{
    ViewBag.Title = "";
}

<form id="uiform">
    <table class="grid">
        <tr>
            <td>
                商品名称：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
            <td>
                产品代码：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                产品名称：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />
            </td>
            <td>
                规格型号：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                单位：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                包装规格：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                商品类别：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />
            </td>
            <td>
                重量：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                体积：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
            <td>
                状态：
            </td>
            <td>
                <select id="txtSTATUS" class="easyui-combobox" name="txtSTATUS" data-options="panelHeight:'auto'" style="width:300px;">
                    <option value=""></option>
                    <option value="1">启用</option>
                    <option value="2">停用</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                厂家代码：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                厂家名称：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                厂家规格：
            </td>
            <td colspan="3">
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                备注：
            </td>
            <td colspan="3">
                <textarea name="textarea" id="textarea" class="easyui-textbox" style="width:795px; height:60px;"></textarea>
            </td>
        </tr>
    </table>

</form>

