

<form id="uiform" method="post">
    <table class="grid">
        <tr>
            <td align="right">
                编号：
            </td>
            <td>
                <input type="text" class="easyui-textbox" name="FNUMBER" id="FNUMBER" data-options="required:true,missingMessage:'请输入编号'" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td style="width: 80px;" align="right">
                名称：
            </td>
            <td>
                <input type="text" class="easyui-textbox" name="FNAME" id="FNAME" data-options="required:true,missingMessage:'请输入品牌'" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td style="width: 80px;" align="right">
                默认单位ID：
            </td>
            <td>
                <input type="text" class="easyui-textbox" name="FDEFALTUNITID" id="FDEFALTUNITID" data-options="required:true,missingMessage:'请输入默认单位ID'" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td align="right">
                备注：
            </td>
            <td>
                <textarea style="width: 180px; height: 50px;" data-options="multiline:true"  class="easyui-textbox" name="FREMARK" id="FREMARK" />
            </td>
        </tr>
    </table>
</form>


