

<form id="uiform" method="post">
    <table class="grid">
        <tr>
            <td>
                审核设置：
            </td>
            <td align="left"><input type="radio" value="1" id="rdoStatus" name="rdoStatus" checked />通过 &nbsp;<input type="radio" value="2" id="rdoStatus" name="rdoStatus" />不通过</td>
        </tr>
        <tr>
            <td>
                审核说明：
            </td>
            <td colspan="3">
                <input id="txtFREMARK" name="FREMARK" type="text" class="easyui-textbox" data-options="multiline:true" style="height:40px;width:420px;"/>
            </td>
        </tr>
    </table>
</form>


