@{
    ViewBag.Title = "Index";
}


<link href="~/Css/style.css" rel="stylesheet" />
<div class="alldiv">
    <div class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a href="javascript:void(0);" onclick="tabs(this);" class="selected">未读消息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="msg">
            <ul>
                <li><a href="#">1、2016.06.08 12:30 新订单（PO20160608-1）</a></li>
                <li><a href="#">2、2016.06.08 12:30 新订单（PO20160608-1）</a></li>
                <li><a href="#">3、2016.06.08 12:30 新订单（PO20160608-1）</a></li>
                <li><a href="#">4、2016.06.08 12:30 新订单（PO20160608-1）</a></li>
                <li><a href="#">5、2016.06.08 12:30 新订单（PO20160608-1）</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="alldiv">
    <div class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a href="javascript:void(0);" onclick="tabs(this);" class="selected">新增业务</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        新增业务内容
    </div>
</div>