@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div  style="float:left; margin-left:10px;">
            <div style="text-align:center; padding-top:10px;">
                <img src="~/Images/qrcode.png" />
            </div>
            <div style="text-align:center; margin-top:5px;">
                <a href="http://a.china-honor.com:8088/@ViewBag.Url" target="_blank">立即下载</a>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div style="text-align:center; padding-top:10px;">
                <img src="~/Images/qrcode2.png" />
            </div>
            <div style="text-align:center; margin-top:5px;">
                <a href="http://a.china-honor.com:8088/@ViewBag.Url" target="_blank">【蚁安居】立即下载</a>
            </div>
        </div>
    </div>
</body>
</html>
