@{
    ViewBag.Title = "";
}

<form id="uiform">

    <div region="north" border="false" split="true" class="datagrid-toolbar">
        <div>
            <input type="text" class="txt03 easyui-textbox" />
            <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="a_search2">查询</a>
        </div>
    </div>
    <div id="userTab1" style="height: 470px; overflow: hidden;">
        <div title="列表" style="padding: 2px;height:470px;">
            <table id="dgGoodsItem"></table>
        </div>
    </div>
</form>