@{
    ViewBag.Title = "";
}

<form id="uiform">
    <table class="grid">
        <tr>
            <td>
                商品名称：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
            <td>
                单位：
            </td>
            <td>
                <div style="position:relative;">
                    <input type="text" class="easyui-textbox" id="" style="width:300px" value="弹出商品选择界面" />
                    <a href="javascript:void(0)" class="textbox-icon searchbox-button" style="width: 18px; height: 22px; position:absolute;left:280px;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                JDE地址号：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />
            </td>
            <td>
                色号：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                单价：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                到货时间：
            </td>
            <td>
                <input type="text" class="easyui-datebox" id="txtFCheckDate" style="width:300px"/>&nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td>
                订单数量：
            </td>
            <td>
                <input type="text" class="easyui-textbox" aid="" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                订单金额：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
        </tr>
        <tr>
            <td>
                厂家确认单价：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                厂家确认数量：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                厂家确认金额：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />&nbsp;&nbsp;<font color="red">*</font>
            </td>
            <td>
                仓库：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                仓位：
            </td>
            <td>
                <input type="text" class="easyui-textbox" style="width:300px" />
            </td>
        </tr>
        <tr>
            <td>
                备注：
            </td>
            <td colspan="3">
                <textarea name="textarea" id="textarea" class="easyui-textbox" style="width:795px; height:60px;"></textarea>
            </td>
        </tr>
    </table>

</form>

