@{
    ViewBag.Title = "";
}
<style>
    .t_r5 {
        text-align: right;
        margin-right: 5px;
        width: 100px;
    }

    .noborder {
        border: none;
    }

        .noborder td {
            border: none;
        }

    a.a_colbule {
        color: #0094ff;
    }

    .fontcolbule {
        color: #0094ff;
    }
</style>
<form>
    <table class="grid noborder">
        <tr>
            <td class="t_r5">
                商品名称：
            </td>
            <td>
                蒙娜丽莎的微笑
            </td>
            <td class="t_r5">
                单位：
            </td>
            <td style="width:150px;">
                件
            </td>
            <td class="t_r5">
                JDE地址号：
            </td>
            <td>
                xxxx-xxxxxxdxxxx
            </td>
        </tr>
        <tr>
            <td class="t_r5">
                色号：
            </td>
            <td>
                #CF2510ff
            </td>
            <td class="t_r5">
                单价：
            </td>
            <td style="width:150px;">
                25.00元
            </td>
            <td class="t_r5">
                参考数量：
            </td>
            <td>
                2500
            </td>
        </tr>
        <tr>
            <td class="t_r5">
                申请数量：
            </td>
            <td>
                3000
            </td>
            <td class="t_r5">
                申请金额：
            </td>
            <td style="width:150px;">
                75000
            </td>
            <td class="t_r5">
                到货时间：
            </td>
            <td class="fontcolbule">
                2017-06-07 17:01
            </td>
        </tr>
        <tr>
            <td class="t_r5">
                价格政策：
            </td>
            <td>
                <a href="#" class="a_colbule">五原市开发区价格政策</a>
            </td>
            <td class="t_r5">
                备注：
            </td>
            <td colspan="2">
                什么什么一二三四五六七
            </td>
        </tr>
    </table>
    <br />
    <table class="grid">
        <tr>
            <td class="t_r5">
                审批数量：
            </td>
            <td>
                <input type="text" class="easyui-textbox" id="" style="width:300px" value="" />
            </td>
            <td class="t_r5">
                审批金额：
            </td>
            <td>
                <input type="text" class="easyui-textbox" id="" style="width:300px" value="" />
            </td>
        </tr>
    </table>
</form>

